.header {
    .header-logo {
      background-color: #000;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      .log-link {
        img {
          height: 40px;
          object-fit: contain;
        }
      }
    }
    .navbar-search {
      display: flex;
      justify-content: center;
      .flex-item {
        margin:0 15px;
        color: #fff;
        a {
          font-size: 20px;
          font-weight: 300;
          text-decoration: none;
          color: #fff;
          transition: all .3s;
          position: relative;
          &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 3px; 
            background: red;
            bottom: -5px;
            left: 0;
            transition: all 0.3s;
            transform: scaleX(0);
          }
          &:hover{
            &::before{
            transform: scaleX(1);
            }
            color: red;
          }
        }
      }
    }
  }

  .menu {
    min-height: 75px;
    background-color: rgba(226,226,226);
    display: flex;
    align-items: center;
    .nav-menu{
        .nav-item{
            font-size: 20px;
            font-weight: 400;
            line-height: 24.2px;
            text-decoration: none;
            color: #6b4747;
            font-weight: 500;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                bottom: -5px;
                left: 0;
                transform: scale(0);
                background: red;
                transition: all 0.3s;
            }
            &:hover{
                &::before{
                    transform: scale(1);
                }
            }
        }
    }
  }
}
